<mat-card class="people-search-filter-card">
  <mat-card-header>
    <mat-card-title class="people-search-filter-card-title">PEOPLE SEARCH RESULTS</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="_searchService.searchData.results.length">
    <mat-paginator 
        [length]="_searchService.searchData.total_results" 
        [pageIndex]="_searchService.searchData.results.page-1"
        [pageSize]="20"              
        (page)="getPeople($event)">
    </mat-paginator>    
    <table mat-table [dataSource]="_searchService.searchData.results">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>  
        
        <ng-container matColumnDef="popularity">
          <th mat-header-cell *matHeaderCellDef> Popularity </th>
          <td mat-cell *matCellDef="let element"> {{element.popularity}} </td>
        </ng-container>       

        <ng-container matColumnDef="actions0">
          <th mat-header-cell *matHeaderCellDef > Details </th>
          <td mat-cell *matCellDef="let row" >
            <button mat-button (click)="getPersonDetails(row)">
              <mat-icon >
                  visibility
              </mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions1">
          <th mat-header-cell *matHeaderCellDef > Favorites </th>
          <td mat-cell *matCellDef="let element" >
            <favorite-toggle (toggleFavorite)="clickFavoriteToggle($event, element)" [isFavorite]="isFavorite(element)"></favorite-toggle>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
