<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card *ngIf="!loading" class="people-search-filter-card">
    <mat-card-header>
      <mat-card-title class="people-search-filter-card-title">PEOPLE SEARCH FILTER</mat-card-title>
    </mat-card-header>
    <form [formGroup]="peopleSearchForm" (ngSubmit)="onSubmit(peopleSearchForm)" class="people-search-filter-form">
        <mat-card-content>
                <mat-form-field class="people-search-filter-field">
                    <mat-label>Search Term</mat-label>
                    <input matInput type="text" formControlName="searchTerm">
                    <mat-error *ngIf="peopleSearchForm.get('searchTerm')?.invalid">A search term is required and must be at least 3 characters</mat-error>
                </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
        <button type="submit" mat-button>SEARCH</button>
        </mat-card-actions>
    </form>
  </mat-card>