.people-search-filter-card {
    max-width: 90%;
    margin: 5 20 5 20;
  }

.people-search-filter-card-title {
    margin-bottom: 10px;
}

.people-search-filter-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.people-search-filter-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.people-search-filter-field {
    margin: 10px 0;
    width: 100%;
}