.login-card {
    max-width: 400px;
    margin: 5 20 5 20;
  }

.login-card-title {
    margin-bottom: 10px;
}

.login-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.login-field {
    margin: 10px 0;
    width: 100%;
}