<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card *ngIf="!loading" class="login-card">
    <mat-card-header>
      <mat-card-title class="login-card-title">LOGIN</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="login-form">
        <mat-card-content>
                <mat-form-field class="login-field">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="userName">
                    <mat-error *ngIf="loginForm.get('userName')?.invalid">Username is required and must be at least 6 characters</mat-error>
                </mat-form-field>
                <mat-form-field class="login-field">
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="loginForm.get('password')?.invalid">Password is required and must be at least 6 characters</mat-error>
                </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
        <button type="submit" mat-button>SUBMIT</button>
        </mat-card-actions>
    </form>
  </mat-card>