<button mat-button (click)="clickFavoriteToggle()">
    <mat-icon *ngIf="isFavorite === false">
        favorite_border
    </mat-icon>
    <mat-icon *ngIf="isFavorite === true" style="color: red;">
        favorite
    </mat-icon>
  </button>