.people-search-filter-card{
    width: 90%;
  }
.mat-form-field {
    margin-right: 12px;
}

table{
    width:100%;
}

.mat-header-cell {
    padding-left: 24px;
}
.mat-cell{
    padding-left: 24px;
}

.mat-row {
    cursor: pointer;
}

::ng-deep .mat-card-header-text {
    width:100%;
    text-align: center;
  }