<mat-card class="people-search-filter-card">
    <mat-card-header>
        <mat-card-title>FAVORITE PEOPLE</mat-card-title>
    </mat-card-header>
    <mat-card-content  style="width: 100%; margin: auto;">            
        <div *ngIf="favoritePeople.length === 0" ><br>You haven't added any people to your favorites. Go add some!</div>
        <table *ngIf="favoritePeople.length > 0" mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">            
            <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>        
    
            <ng-container matColumnDef="actions0">
            <th mat-header-cell *matHeaderCellDef > Details </th>
            <td mat-cell *matCellDef="let row" >
                <button mat-button (click)="getPersonDetails(row)">
                    <mat-icon >
                        visibility
                    </mat-icon>
                </button>
            </td>
            </ng-container>
    
            <ng-container matColumnDef="actions1">
            <th mat-header-cell *matHeaderCellDef > Favorites </th>
            <td mat-cell *matCellDef="let element" >
                <favorite-toggle (toggleFavorite)="clickFavoriteToggle($event, element)" [isFavorite]="isFavorite(element)"></favorite-toggle>
            </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>