<div class="flex-container">
    <div class="flex-child">
        <people-search-filters></people-search-filters>
    </div>
    <div class="flex-child">
        <people-search-results></people-search-results>        
    </div>
</div>