<nav mat-tab-nav-bar>
    <a *ngIf="!showLogoutButton" [routerLink]="['/login']" mat-tab-link label="login">Login</a>
    <a *ngIf="showLogoutButton" (click)="Logout()" mat-tab-link label="logout">Logout</a>
    <a [routerLink]="['/dashboard']" mat-tab-link label="dashboard">Dashboard</a>
</nav>
<div class="route-container">
    <router-outlet></router-outlet>    
</div>