<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card *ngIf="!loading" class="movie-search-filter-card">
    <mat-card-header>
      <mat-card-title class="movie-search-filter-card-title">MOVIE SEARCH FILTER</mat-card-title>
    </mat-card-header>
    <form [formGroup]="movieSearchForm" (ngSubmit)="onSubmit(movieSearchForm)" class="movie-search-filter-form">
        <mat-card-content>
                <mat-form-field class="movie-search-filter-field">
                    <mat-label>Search Term</mat-label>
                    <input matInput type="text" formControlName="searchTerm">
                    <mat-error *ngIf="movieSearchForm.get('searchTerm')?.invalid">A search term is required and must be at least 3 characters</mat-error>
                </mat-form-field>
                <mat-form-field class="movie-search-filter-field">
                    <mat-label>Movie Year</mat-label>
                    <input matInput type="number" placeholder="1985" formControlName="searchYear">
                    <mat-error *ngIf="movieSearchForm.get('searchYear')?.invalid">The optional search year must be 1910 or later</mat-error>
                </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
        <button type="submit" mat-button>SEARCH</button>
        </mat-card-actions>
    </form>
  </mat-card>