<h1><b>{{movie?.title}}</b> ({{movie?.release_date | date: 'MM/dd/YYYY'}})</h1>
<button style="position:absolute; right:0;" (click)="AddToFavorites(movie)" type="button" mat-button>Add to Favorites</button>

<h2 style="border-top:1px black solid">OVERVIEW</h2>
<p style="white-space: pre; overflow: hidden; text-overflow: ellipsis; cursor: pointer;" appHighlight>{{movie?.overview}}</p>

<img src="{{movie?.poster_path}}" />

<br><br>

<img src="{{movie?.backdrop_path}}" />

<br><br>

<h2>PRODUCTION</h2>
<div *ngFor="let company of movie?.production_companies; let i=index;" style="padding-bottom: 50px;">
    <p *ngIf="!company?.logo_path"><b>{{company?.name}}</b></p>
    <img *ngIf="company?.logo_path" src="https://image.tmdb.org/t/p/w300{{company?.logo_path}}" />
</div>
