<div class="flex-container">
    <div class="flex-child-1">
        <movie-search-filters></movie-search-filters>
    </div>
    <div class="flex-child-2">
        <movie-search-results></movie-search-results>        
    </div>
</div>