<!--#PIPE
    This component makes use of the built in date pipe provided by angular to format the date-->
<h1><b>{{person?.name}}</b> ({{person?.birthday | date: 'MM/dd/YYYY'}})</h1>
<h3><span *ngFor="let name of person?.also_known_as; let i=index;">| {{name}} |</span></h3>
<button style="position:absolute; right:0;" (click)="AddToFavorites(person)" type="button" mat-button>Add to Favorites</button>

<h2 style="border-top:1px black solid">BIOGRAPHY</h2>
<p style="white-space: pre; overflow: hidden; text-overflow: ellipsis; cursor: pointer;" appHighlight>{{person?.biography}}</p>

<img src="https://image.tmdb.org/t/p/w300{{person?.profile_path}}" alt="Missing portrait"/>

<br><br>

<p *ngIf="person?.homepage"><a href="person?.homepage">{{person?.homepage}}</a></p>

<br><br>
<div *ngIf="person?.cast">    
    <h2 style="border-top:1px black solid">CAST CREDITS</h2>
    <div *ngIf="!person?.cast">No crew credits found</div>
    <div *ngIf="person?.cast" class="flex-container">
        <div *ngFor="let cast of person?.cast | slice:0:5; let i=index;">
            <div *ngIf="cast.poster_path"  class="flex-child">
                <h3  style="white-space: pre; overflow: hidden; text-overflow: ellipsis;">As {{cast?.character}}</h3>
                <h3 style="white-space: pre; overflow: hidden; text-overflow: ellipsis;">{{cast?.title}}</h3>
                <img src="https://image.tmdb.org/t/p/w300{{cast?.poster_path}}" alt="Missing movie poster" />
            </div>
        </div>
    </div>

    <br><br>
    <h2 style="border-top:1px black solid">CREW CREDITS</h2>
    <div *ngIf="!person?.crew">No crew credits found</div>
    <div *ngIf="person?.crew" class="flex-container">
        <div *ngFor="let crew of person?.crew | slice:0:5; let i=index;">
            <div *ngIf="crew?.poster_path" class="flex-child">
                <h3 style="white-space: pre; overflow: hidden; text-overflow: ellipsis;">Served in {{crew?.department}}</h3>
                <h3 style="white-space: pre; overflow: hidden; text-overflow: ellipsis;">{{crew?.title}}</h3>
                <img  src="https://image.tmdb.org/t/p/w300{{crew?.poster_path}}" alt="Missing movie poster" />
            </div>
        </div>
    </div>
</div>

