.flex-container{
    display:flex;
    flex-wrap: wrap;
}

.flex-child{
    flex: 1 0 50%;
    margin: 5px 0px;
}

.movie-search-card.mat-card {
    max-width: 90%;
    cursor: pointer;
    text-align: center;
}

.movie-search-card-title {
    width: 100%;
    text-align: center;
}

.people-search-filter-card{
    width: 90%;
  }
.mat-form-field {
    margin-right: 12px;
}

table{
    width:100%;
}

.mat-header-cell {
    padding-left: 24px;
}
.mat-cell{
    padding-left: 24px;
}

.mat-row {
    cursor: pointer;
}

::ng-deep .mat-card-header-text {
    width:100%;
    text-align: center;
  }