<mat-spinner *ngIf="loading"></mat-spinner>
<div class="flex-container" *ngIf="!loading">
    <div class="flex-child">
        <mat-card (click)="RedirectToSearch()" class="movie-search-card">
            <mat-card-header class="movie-search-card-title">
              <mat-card-title class="movie-search-card-title">SEARCH MOVIES</mat-card-title>
            </mat-card-header>
                <mat-card-content style="width: 100%; margin: auto;">
                    <mat-icon style="font-size: xx-large; font-weight: bolder;">
                        search
                    </mat-icon>
                </mat-card-content>
          </mat-card>
    </div>
    <div class="flex-child">
        <mat-card (click)="RedirectToPeopleSearch()" class="movie-search-card">
            <mat-card-header class="movie-search-card-title">
              <mat-card-title class="movie-search-card-title">SEARCH PEOPLE</mat-card-title>
            </mat-card-header>
                <mat-card-content style="width: 100%; margin: auto;">
                    <mat-icon style="font-size: xx-large; font-weight: bolder;">
                        search
                    </mat-icon>
                </mat-card-content>
          </mat-card>      
    </div>
    
    <div class="flex-child">
        <dashboard-movie-favorites></dashboard-movie-favorites>
    </div>

    <div class="flex-child">
        <dashboard-people-favorites></dashboard-people-favorites>
    </div>   
</div> 

